[DEFAULT]
# Tipo de conexão: acceptor (servidor)
ConnectionType=acceptor

# Porta onde as corretoras vão se conectar
SocketAcceptPort=9876

StartTime=00:00:00
EndTime=00:00:00

# Onde o QuickFIX guardará o estado das mensagens (para não perder sequencial)
FileStorePath=target/data/store
FileLogPath=target/data/log

# Garante que o motor não valide campos extras (facilita o desenvolvimento)
; UseDataDictionary=Y
; DataDictionary=FIX44.xml
; ValidateFieldsHaveValues=N



[SESSION]
BeginString=FIX.4.4
SenderCompID=SNA52_EXCHANGE
TargetCompID=XP_INVEST

SocketConnectHost=localhost
SocketConnectPort=9876
HeartBtInt=30